.header {
    box-shadow: #f3f3f3 0px 0px 12px 3px;
}

.container-wrapper{
    padding: 0 80px;
}

.countries-header {
    padding: 50px;
}

.countries-header-items {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.search-box>input {
    border: 0;
    box-shadow: #ededed 0px 0px 8px 1px;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
}

.filter-box>.region-filter {
    border: 0;
    background: white;
    box-shadow: #ededed 0px 0px 5px 1px;
    padding: 10px;
    border-radius: 5px;
}

.country-items-wrapper >img {
    width: 100%;
    height: 150px;
    border-radius: 7px 7px 0 0;
}

.country-name {
    padding: 10px 20px;
    font-weight: 800;
}

.countries-list-detail {
    padding: 10px 20px 30px;
    font-size: 14px;
}

.countries-list-detail-title {
    font-weight: 600;
    display: inline-block;
    margin: 3px 0;
}